body.login-page{
  background-image: url('bg_pic.png');
}
.login{
  height:100%;
  background-image: url('bg_pic.png');
    .login-top-layer{
      position: absolute;
      background-position: center center;
      background-size: 70%;
      background-repeat: no-repeat;
      background-image: url('pattern_pic.png');
      height: 100%;
      width: 100%;
      .login-title{
        position: fixed;
        left: 50%;
        top: 50%;
        width: 212px;
        height: 38px;
        margin-left: -106px;
        margin-top: -200px;
        background-image: url("text_pic.png");
        z-index: 100;
      }
      .login-frame-wrapper{
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -210px;
        margin-top: -150px;
        padding: 7px;
        background-color: rgba(220, 244, 255,0.3);
        border-radius: 4px;
      }
    }
}
