//主色
$color-primary: #52caff;

$color-primary-lighter: #a8e4ff;

//信息色
$color-info: #ffe4aa;

//主背景色
$bg-color: #f4f5f4;

//边框色
$border-color: #dfdfdf;

//chekbox大小
$checkbox-size: 16px;

//表单元素高度
$form-control-height:36px;

$form-control-height-thin:30px;

//顶部导航栏高度
$navbar-height: 45px;

//侧边栏宽度
$sidebar-width: 210px;

$border-radius:4px;