/*
Error: Invalid GBK character "\xE5"
        on line 2 of sidebar.scss

1: /**
2:  * 创建于：2016-5-11
3:  * 创建人：杨骐彰
4:  * 说明： 主页面侧边菜单栏样式
5:  *\/
6: @import '../../../../styles/variables';
7: 

Backtrace:
sidebar.scss:2
D:/development/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/util.rb:1299:in `rescue in block in find_encoding_error'
D:/development/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/util.rb:1296:in `block in find_encoding_error'
D:/development/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/util.rb:1295:in `each'
D:/development/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/util.rb:1295:in `each_with_index'
D:/development/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/util.rb:1295:in `find_encoding_error'
D:/development/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/util.rb:904:in `check_sass_encoding'
D:/development/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:433:in `check_encoding!'
D:/development/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:389:in `_to_tree'
D:/development/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:378:in `_render_with_sourcemap'
D:/development/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/engine.rb:295:in `render_with_sourcemap'
D:/development/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
D:/development/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
D:/development/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `each'
D:/development/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
D:/development/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/plugin.rb:82:in `update_stylesheets'
D:/development/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:363:in `watch_or_update'
D:/development/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/exec/sass_scss.rb:51:in `process_result'
D:/development/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/exec/base.rb:52:in `parse'
D:/development/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/lib/sass/exec/base.rb:19:in `parse!'
D:/development/Ruby22/lib/ruby/gems/2.2.0/gems/sass-3.4.21/bin/scss:13:in `<top (required)>'
D:/development/Ruby22/bin/scss:23:in `load'
D:/development/Ruby22/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid GBK character \"\xE5\"\A         on line 2 of sidebar.scss\A \A 1: /**\A 2:  * 创建于：2016-5-11\A 3:  * 创建人：杨骐彰\A 4:  * 说明： 主页面侧边菜单栏样式\A 5:  */\A 6: @import '../../../../styles/variables';\A 7: "; }
